.container {
  max-width: 500px;
  margin: auto;
}

.only-print {
  display: none;
}

.centered {
  text-align: center;
}

.half-size {
  width: 50%;
}

@media print {
  .no-print {
    display: none;
  }

  .only-print {
    display: block;
  }
}
